
    <div class="large-3 columns left">
      <h6>Share the Knowledge</h6>
      <p>Why not share your favorite tutorials with the class?</p>
      <p><%= link_to "Submit A Tutorial!", new_tutorial_path, class: "button small secondary radius" %></p>
  </div>

  <div class="large-9 columns left">
    <h5>Latest Tutorials</h5>
    <% @tutorials.each do |tutorial| %>
      <li class='post'>
        <span class='like-count'><%= pluralize(tutorial.likes.count, 'like')%></span>  <span class='post-name'><a href=<%= tutorial.link %> target="_blank"><%= tutorial.description %></a></span>
       
        <span class="poster">Posted by <%= tutorial.user.name %> <%= time_ago_in_words(tutorial.created_at)  %> ago, in <%= link_to tutorial.category.name, category_path(tutorial.category.slug) %></span>
        <% if current_user %>
          <% if tutorial.liked_by(current_user) %>
            <span class='like'>Liked</span>
          <% else %>
            <span class='like'><%= link_to("Like It!", likes_path(like: { :tutorial_id => tutorial.id }), :method => 'post') %> </span>
          <% end %>
        <% else %>
          <span class='like'><%= link_to("Like It!", login_path, notice: "You must be logged in to 'Like'" ) %></span>  
        <% end %>
        <hr>
      </li>
    <% end %>
  </div>

