<div class="large-3 large-offest-1 columns right sidebar">
   <h6>About This App</h6>
  <p>A central place for students of Epicodus to share and comment on programming tutorials!</p>
  <hr>
  <p class='credit'><span class='brought'>Brought to you by:</span> <br> Matt Swaney & Mac Eisenberg</p>
  <hr>

  <h6>Share the Knowledge</h6>
  <p>Why not share your favorite tutorials with the class?</p>
  <p class='submit'><%= link_to "Submit A Tutorial!", new_tutorial_path, class: "submit-button button small success radius" %></p>
</div>

<div class="large-9 columns left">
<h5>Latest Tutorials</h5>
<% @tutorials.each do |tutorial| %>
  <li class='post'>
    <span class='like-count'><%= pluralize(tutorial.likes.count, 'like')%></span>  <span class='post-name'><a href=<%= tutorial.link %> target="_blank"><%= tutorial.description %></a></span>
   
    <span class="poster">Posted by <%= tutorial.user.name %> <%= time_ago_in_words(tutorial.created_at)  %> ago, in <%= link_to tutorial.category.name, category_path(tutorial.category.slug) %></span>
    <div class='info'>
      <% if current_user %>
        
        <% if tutorial.liked_by(current_user) %>
          <span class='like'>Liked</span>
        
        <% else %>
          <span class='like'><%= link_to("Like It!", likes_path(like: { :tutorial_id => tutorial.id }), :method => 'post') %></span>
        <% end %>
      
      <% else %>
        <span class='like'><%= link_to("Like It!", login_path, notice: "You must be logged in to 'Like'" ) %></span>  
      <% end %>
      
      <span class='comment-count'>• 
        <%= comment_link_helper(tutorial) %>
      </span>  
    </div>
    <hr>
  </li>
<% end %>
</div>

