<% title "#{@tutorial.description} | Coding Tutorials" %>

<div class='large-8 columns'>
  <h3><%= link_to @tutorial.description, @tutorial.link %></h3>

  <% if current_user == nil %>
    Please <%= link_to("Log in", login_path) %> to comment.
  <% else %>
    <%= form_for @comment do |f| %>
      <%= f.label :comment %>
      <%= f.text_field :content %>
      <%= f.hidden_field :tutorial_id, :value => @tutorial.id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.submit "Add Comment" %>
    <% end %>
  <% end %>

  <ul>
    <% @comments.each do |comment| %>
      <%= comment.content %>
      <span class="poster">Posted by <%= comment.user.name %> <%= time_ago_in_words(comment.created_at)  %> ago</span>
      <hr>
    <% end %>
  </ul>
</div>